<div fxLayout="column">
  <div fxLayout="row" class="header"></div>
  <div class="home-bg">
    <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayoutGap="2rem" fxLayoutAlign="space-around">
      <div fxLayout="column" fxLayoutGap="1rem" fxFlex="50%">
        <div fxLayout="row" style="flex-grow:1">
          <mat-card fxFlex="100%">Simple card</mat-card>
        </div>
        <div fxLayout="row" fxLayoutGap="1rem">
          <mat-card fxFlex="50%">Simple card</mat-card>
          <mat-card fxFlex="50%">Simple card</mat-card>
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="space-around" fxFlex="100%">
        <div fxLayout="row">
          <mat-card fxFlex="100%">Simple card</mat-card>
        </div>
        <div fxLayout="row">
          <mat-card fxFlex="100%">Simple card</mat-card>
        </div>
        <div fxLayout="row">
          <mat-card fxFlex="100%">Simple card</mat-card>
        </div>
        <div fxLayout="row">
          <mat-card fxFlex="100%">Simple card</mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
