<div fxLayout="column" class="home-bg">
  <div fxLayout="row" class="header"></div>
  <div fxLayout="column" fxLayoutAlign="center center" style="padding-top: 2rem !important
  ; text-align: center;">
    <span class="tang-font" style="font-size: 3rem;font-weight: bold;">Access Grades</span>
    <span style="color: white;margin-top: 0.5rem;">click on each level below to view a complete list of activities.</span>
    <p style="color: white">
      <img src="../../../assets/images/wavw.png" width="150px" height="30px" alt="">
    </p>

  </div>
  <div fxLayout="row" fxLayout.xs="column" class="parent-padding">
    <div fxLayout="row" fxLayout.xs="column" fxFlex="55" style="margin:10px; padding: 7px; border: 1px solid #9fd89f; border-style: dashed; border-radius: 15px;">
      <mat-card>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" style="padding: 11px 7px 11px 44px;">
          <div fxLayout="column" fxFlex="30%" class="card-image">
            <img src="../../../assets/images/pngwave.png" width="120px" height="180px" alt="">
          </div>
          <div fxLayout="column" fxFlex="70%" class="card-detail">
            <mat-card-title style="font-size: 14px; font-weight: bold; margin-bottom: 2px;">Kindergarten Math Videos</mat-card-title>
            <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui tenetur quasi, esse cum voluptas magnam? Debitis
              ut eos nostrum delectus ad eligendi dolores aliquam veritatis ea unde, nemo sapiente magni.
            </mat-card-content>
            <mat-card-footer>
              <ul class="menu">
                <li>
                  <a href="#">Games</a>
                </li>
                <li>
                  <a href="#">Quizzes</a>
                </li>
                <li>
                  <a href="#">eBooks</a>
                </li>
                <li>
                  <a href="#">Worksheets</a>
                </li>
              </ul>
              <br>
              <div style="text-align: right;
              margin-right: 10px;">
                <a href="#" style="font-size: 13px;
                text-decoration: none; color: black; text-decoration: underline wavy grey;
                font-weight: 500; text-decoration: underline wavy grey;">Read more</a>
              </div>
            </mat-card-footer>
          </div>
        </div>
      </mat-card>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxFlex="55" style="margin:10px; padding: 7px; border: 1px solid #9fd89f; border-style: dashed; border-radius: 15px;">
      <mat-card>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" style="padding: 11px 7px 11px 44px;">
          <div fxLayout="column" fxFlex="30%" class="card-image">
            <img src="../../../assets/images/pngwave.png" width="120px" height="180px" alt="">
          </div>
          <div fxLayout="column" fxFlex="70%" class="card-detail">
            <mat-card-title style="font-size: 14px; font-weight: bold; margin-bottom: 2px;">Kindergarten Math Videos</mat-card-title>
            <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui tenetur quasi, esse cum voluptas magnam? Debitis
              ut eos nostrum delectus ad eligendi dolores aliquam veritatis ea unde, nemo sapiente magni.
            </mat-card-content>
            <mat-card-footer>
              <ul class="menu">
                <li>
                  <a href="#">Games</a>
                </li>
                <li>
                  <a href="#">Quizzes</a>
                </li>
                <li>
                  <a href="#">eBooks</a>
                </li>
                <li>
                  <a href="#">Worksheets</a>
                </li>
              </ul>
              <br>
              <div style="text-align: right;
              margin-right: 10px;">
                <a href="#" style="font-size: 13px;
                text-decoration: none; color: black; text-decoration: underline wavy grey;
                font-weight: 500;">Read more</a>
              </div>
            </mat-card-footer>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" class="parent-padding" style="margin-top: 20px;">
    <div fxLayout="row" fxLayout.xs="column" fxFlex="55" style="margin:10px; padding: 7px; border: 1px solid #9fd89f; border-style: dashed; border-radius: 15px;">
      <mat-card>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" style="padding: 11px 7px 11px 44px;">
          <div fxLayout="column" fxFlex="30%" class="card-image">
            <img src="../../../assets/images/pngwave.png" width="120px" height="180px" alt="">
          </div>
          <div fxLayout="column" fxFlex="70%" class="card-detail">
            <mat-card-title style="font-size: 14px; font-weight: bold; margin-bottom: 2px;">Kindergarten Math Videos</mat-card-title>
            <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui tenetur quasi, esse cum voluptas magnam? Debitis
              ut eos nostrum delectus ad eligendi dolores aliquam veritatis ea unde, nemo sapiente magni.
            </mat-card-content>
            <mat-card-footer>
              <ul class="menu">
                <li>
                  <a href="#">Games</a>
                </li>
                <li>
                  <a href="#">Quizzes</a>
                </li>
                <li>
                  <a href="#">eBooks</a>
                </li>
                <li>
                  <a href="#">Worksheets</a>
                </li>
              </ul>
              <br>
              <div style="text-align: right;
              margin-right: 10px;">
                <a href="#" style="font-size: 13px;
                text-decoration: none; color: black; text-decoration: underline wavy grey;
                font-weight: 500;">Read more</a>
              </div>
            </mat-card-footer>
          </div>
        </div>
      </mat-card>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxFlex="55" style="margin:10px; padding: 7px; border: 1px solid #9fd89f; border-style: dashed; border-radius: 15px;">
      <mat-card>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" style="padding: 11px 7px 11px 44px;">
          <div fxLayout="column" fxFlex="30%" class="card-image">
            <img src="../../../assets/images/pngwave.png" width="120px" height="180px" alt="">
          </div>
          <div fxLayout="column" fxFlex="70%" class="card-detail">
            <mat-card-title style="font-size: 14px; font-weight: bold; margin-bottom: 2px;">Kindergarten Math Videos</mat-card-title>
            <mat-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui tenetur quasi, esse cum voluptas magnam? Debitis
              ut eos nostrum delectus ad eligendi dolores aliquam veritatis ea unde, nemo sapiente magni.
            </mat-card-content>
            <mat-card-footer>
              <ul class="menu">
                <li>
                  <a href="#">Games</a>
                </li>
                <li>
                  <a href="#">Quizzes</a>
                </li>
                <li>
                  <a href="#">eBooks</a>
                </li>
                <li>
                  <a href="#">Worksheets</a>
                </li>
              </ul>
              <br>
              <div style="text-align: right;
              margin-right: 10px;">
                <a href="#" style="font-size: 13px;
                text-decoration: none; color: black; text-decoration: underline wavy grey;
                font-weight: 500;">Read more</a>
              </div>
            </mat-card-footer>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

</div>
